@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #0f0f0f;
}
.app-container {
  max-width: 1140px;
  margin: 0 auto;
}

.oswald {
  font-family: "Oswald", sans-serif;
}
